.container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.container img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
}